.nonotify{
    text-align: center;
    display: inline-block;
    width: 100%;
}

.mobile{
    padding-right: 2rem;
    height: 5rem;
    width: 7rem;
    font-size: 20rem;
    background-color: rgb(183, 179, 179);
}

.desktop{
    height: 6rem;
    font-size: 20rem;
    background-color: rgb(237, 246, 180);
}